<link rel="stylesheet" href="{{ asset('assets/css/style.accueil.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/panier.css') }}"> {# panier #}
<body>
    <div class="content-imga">
        <img class="img-accueil" src="{{ asset('images/barparfum.jpg') }}" alt="Image bar à parfum">
    </div>
    <h1 class="h1-accueil">Nos Meilleures Ventes</h1>
    <div class="container_bestsales-accueil">
        <div class="carousel_bestsales-accueil">
            <div class="slidebs-accueil">
                <a href="/produit/2"><img class="slidebs-accueil" src="{{ asset('images/produits/ahlam/ahlam1.png') }}" alt="Produit 1"></a>
                <p class="nomp-accueil">Ahlam</p>
                <p class="prixp-accueil">30,00€</p>
				<a class="btn_panier-accueil" href="{{ path('pay_stripe_checkouttest', {'prodId':0})}}">ACHETER </a>
            </div>
            <div class="slidebs-accueil">
                <a href="/produit/15"><img class="slidebs-accueil" src="{{ asset('images/magic_aïsha.png') }}" alt="Produit 2"></a>
                <p class="nomp-accueil">Magic Aïsha</p>
                <p class="prixp-accueil">30,00€</p>
			<a class="btn_panier-accueil" href="{{ path('pay_stripe_checkouttest', {'prodId':1})}}">ACHETER </a>
            </div>
            <div class="slidebs-accueil">
                <a href="/produit/29"><img class="slidebs-accueil" src="{{ asset('images/pure_evasion.png') }}" alt="Produit 3"></a>
                <p class="nomp-accueil">Suprême Flower</p>
                <p class="prixp-accueil">30,00€</p>
			<a class="btn_panier-accueil" href="{{ path('pay_stripe_checkouttest', {'prodId':2})}}">ACHETER </a>
            </div>
            <div class="slidebs-accueil">
                <a href="/produit/39"><img class="slidebs-accueil" src="{{ asset('images/french_riviera.png') }}" alt="Produit 4"></a>
                <p class="nomp-accueil">French Riviera</p>
                <p class="prixp-accueil">35,00€</p>
			<a class="btn_panier-accueil" href="{{ path('pay_stripe_checkouttest', {'prodId':3})}}">ACHETER </a>
            </div>
            <div class="slidebs-accueil">
                <a href="/produit/35"><img class="slidebs-accueil" src="{{ asset('images/bali.png') }}" alt="Produit 5"></a>
                <p class="nomp-accueil">Bali</p>
                <p class="prixp-accueil">35,00€</p>
			<a class="btn_panier-accueil" href="{{ path('pay_stripe_checkouttest', {'prodId':4})}}">ACHETER </a>
            </div>
            <div class="slidebs-accueil">
                <a href="/produit/37"><img class="slidebs-accueil" src="{{ asset('images/california.png') }}" alt="Produit 6"></a>
                <p class="nomp-accueil">California</p>
                <p class="prixp-accueil">35,00€</p>
			<a class="btn_panier-accueil" href="{{ path('pay_stripe_checkouttest', {'prodId':5})}}">ACHETER </a>
            </div>
        </div>
            <i class="fa-solid fa-chevron-left fa-2xl" id="btnp_bs-accueil" onclick="prevSlide_bs()"></i></button>
            <i class="fa-solid fa-chevron-right fa-2xl" id="btns_bs-accueil" onclick="nextSlide_bs()"></i></button>
    </div>
    <div class="carousel_container-accueil">
        <div class="carousel-accueil">
            <div class="slide-accueil">
                <a class="slide-accueil" href="{{ path('parfum') }}"><img class="slide-accueil" src="{{ asset('images/parfums.png') }}" alt="Slide 1"></a>
            </div>
            <div class="slide-accueil">
                <a class="slide-accueil" href="{{ path('maison') }}"><img class="slide-accueil" src="{{ asset('images/sprays.png') }}" alt="Slide 2"></a>
            </div>
            <div class="slide-accueil">
                <a class="slide-accueil" href="{{ path('muscs') }}"><img class="slide-accueil" src="{{ asset('images/muscs.png') }}" alt="Slide 3"></a>
            </div>
            <div class="slide-accueil">
                <a class="slide-accueil" href="{{ path('cosmetiques') }}"><img class="slide-accueil" src="{{ asset('images/cosmétiques.png') }}" alt="Slide 4"></a>
            </div>
            <div class="slide-accueil">
                <a class="slide-accueil" href="{{ path('brumes') }}"><img class="slide-accueil" src="{{ asset('images/brumes.png') }}" alt="Slide 5"></a>
            </div>
            <div class="slide-accueil">
                <a class="slide-accueil" href="{{ path('capillaires') }}"><img class="slide-accueil" src="{{ asset('images/produits_capillaire.png') }}" alt="Slide 6"></a>
            </div>
        </div>
            <i class="fa-solid fa-chevron-left fa-2xl" id="btnp-accueil" onclick="prevSlide()"></i></button>
            <i class="fa-solid fa-chevron-right fa-2xl" id="btns-accueil" onclick="nextSlide()"></i></button>
    </div>
    <div class="barbg-accueil">
        <div class="contentinfo-accueil">
            <div class="enstxt-accueil">
                <p class="titreinfo-accueil">Le Bar à parfum</p>
                <img class="logoinf-accueil" src="{{ asset('images/maisoneaudor.png') }}" alt="Logo maison eau d'or">
                <div class="txt1bar-accueil">
                    <p>Bienvenue dans notre bar à parfum</p>
                </div>
                <div class="txt2bar-accueil">
                    <p>Découvrez le concept original de maison</p>
                    <p>eau d'or situé au 123 Avenue René Coty au</p>
                    <p>Havre</p>
                </div>
                <div class="txt3bar-accueil">
                <p>Nous proposons des collections uniques</p>
                <p>de parfums et de sprays d'intérieur</p>
                </div>
                <a class="decouv-accueil" href="about">
                <button class="btnd-accueil">Découvrir&nbsp;&nbsp;<i id="chevronbtn-accueil" class="fa-solid fa-chevron-right"></i></button>
                </a>
            </div>
        </div>
        <div class="contbar-accueil">
            <img class="imgbar-accueil" src="{{ asset('images/barparfum.jpg') }}" alt="Image bar à parfum">
        </div>
    </div>

    {# panier #}
	{% block panier %}
	{% include 'panier.html.twig' %}
	{% endblock %}

    <script src="{{ asset('assets/js/accueil.js') }}"></script>
</body>
</html>