<header>
        <div class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div class="logo">
            <img src="{{ asset('images/maisoneaudor.png') }}" alt="Logo maison eau d'or">
        </div>
    <nav>
        <ul>
            <li><a {#href="{{ path('parfums') }}"#}>PARFUMS</a></li>
            <li><a {#href="{{ path('maison') }}"#}>MAISON</a></li>
            <li><a {#href="{{ path('muscs') }}"#}>MUSCS TAHARA INTIME</a></li>
            <li><a {#href="{{ path('cosmetiques') }}"#}>COSMETIQUES</a></li>
            <li><a {#href="{{ path('brumes') }}"#}>BRUMES</a></li>
            <li><a {#href="{{ path('capillaire') }}"#}>PRODUITS CAPILLAIRE</a></li>
        </ul>
    </nav>
</header>