<link rel="stylesheet" href="{{ asset('assets/css/style.header.css') }}">
<header>
        <div class="top-header">
            <div class="logo-header">
                <img class="logo-header" src="{{ asset('images/maisoneaudor.jpg') }}" alt="Logo maison eau d'or">
            </div>
            <div class="ens_icon-header">
                <i class="fa-solid fa-magnifying-glass" id="icon-header"></i>
                <a href="{{ path('default.login') }}" id="icon-header"><i class="fa-solid fa-user"></i></a>
                <i class="fa-solid fa-cart-shopping" id="icon-header"></i>
            </div>
            <div class="burger-header" id="burger-icon">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </div>
            <div class="x-header" id="close-icon">
                <i class="fa-solid fa-xmark fa-2xl"></i>
            </div>
        </div>
    <nav class="nav-header">
        <ul class="ul-header">
            <li class="li-header"><a class="ap-header" href="{{ path('parfum') }}">PARFUMS</a></li>
            <li class="li-header"><a class="am-header" href="{{ path('maison') }}">MAISON</a></li>
            <li class="li-header"><a class="amt-header" href="{{ path('muscs') }}">MUSCS TAHARA INTIME</a></li>
            <li class="li-header"><a class="ac-header" href="{{ path('cosmetiques') }}">COSMETIQUES</a></li>
            <li class="li-header"><a class="ab-header" href="{{ path('brumes') }}">BRUMES</a></li>
            <li class="li-header"><a class="apc-header" href="{{ path('capillaires') }}">PRODUITS CAPILLAIRE</a></li>
        </ul>
    </nav>
    <script src="{{ asset('assets/js/header.js') }}"></script>
</header>